<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re-make evaluation</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <!--HEADER-->
  <partial src="_header.html" label="header"></partial>
  <!--HERO-->
  <partial src="_hero.html" label="hero"></partial>
  <!--MAIN-->
  <main class="page__main">
    <!--Introduction-->
    <partial src="_introduction.html"></partial>
    <!--Reasons-->
    <partial src="_reasons.html" label="reasons"></partial>
  </main>
  <!--FOOTER-->
  <partial src="_footer.html" laber="footer"></partial>
</body>
</html>
