<footer class="page__footer">
    <a class="link footer__link" href="#hero__section">
      <div class="footer__link-container">
      <img class="scroll-up-img"
      alt="link scroll up"
      src="../assets/images/ico-arrow.svg">
      </div>
    </a>
    <div class="central__container">
    <div class="menu-rss__container">
    <nav class="page__menu">
      <ul class="menu__list">
        <li class="menu__item">articles</li>
        <li class="menu__item">books</li>
        <li class="menu__item">events</li>
        <li class="menu__item">reasons</li>
        <li class="menu__item">tips</li>
      </ul>
    </nav>
    <ul class="rss__list">
      <li class="rss__item">twitter</li>
      <li class="rss__item">instagram</li>
      <li class="rss__item">mastodon.social</li>
    </ul>
    </div>
    <div class="copy__container">
      <p class="copy__year">©2017</p>
      <p class="copy__text">we <span class="heart">❤︎</span> components</p>
    </div>
  </div>
  </footer>
