<section class="page__introduction" id="introduction__section">
  <div class="central__container">
    <p class="small-text">Insomnia Tips</p>
    <h2 class="introduction__tittle">Looking Through A Window</h2>
      <p class="introduction__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <a class="link introduction__link" href="#"><div class="introduction__link-container">Go</div></a>
  </div>
</section>
