<section class="page__reasons">
  <div class="central__container">
    <h2 class="reasons__tittle">3 Reasons To Purchase</h2>
    <ul class="reasons__list">
      <li class="reason1">
        <div class="reason1__container">
          <h3 class="reason__tittle">Ut sed metus</h3>
          <p class="reason__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
      </li>
      <li class="reason2">
        <div class="reason2__container">
          <h3 class="reason__tittle">Curabitur ac erat</h3>
          <p class="reason__text">Mauris mattis urna quis lorem molestie.</p>
        </div>
      </li>
      <li class="reason3">
        <div class="reason3__container">
          <h3 class="reason__tittle">Morbi dictum</h3>
          <p class="reason__text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </li>
    </ul>
  </div>
    <button type="button" class="reasons__button">More reasons</button>
  </section>
