$background-menu: #0271bc;
$orange: #f26002;
$white: #ffffff;
$color-small-text: #8ccbea;
$black: #000000;
$color-text-introduction: #4a4a4a;
$background-reasons: #eff9ff;
$background-footer: #304268;
